<div class="col-md-12">
  <div class="booking">
    <%= link_to("Book New Seat", new_booking_path, class: "btn btn-primary pull-left") %>
  </div>
  <br><br>
  <table class="table table-hover">
    <thead bgcolor = "#337ab7">
      <tr>
        <div>
          <td style="color: #ffffff">Name</td>
          <td style="color: #ffffff">Desk</td>
          <td style="color: #ffffff">From/To</td>
          <td style="color: #ffffff"></td>
        </div>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.user.nickname %></td>
          <td><%= booking.desk %></td>
          <td><%= booking.date_from.strftime("%d/%b") %> - <%= booking.date_to.strftime("%d/%b") %></td>
          <td>
              <%= link_to("View", booking_path(booking), class: "btn btn-sm btn-default")%>
              <% if current_user && current_user == booking.user %>
                <%= link_to("Delete", booking_path(booking), class: "btn btn-sm btn-default",
                            method: :delete, data: { confirm: "Are you sure?" } )%>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
