<div class="col-md-12">
  <p> Name : <%= @booking.user.nickname %></p>
  <p> Email : <%= @booking.user.email %></p>
  <p> Desk : <%= @booking.desk %></p>
  <p> Date : <%= @booking.date_from.strftime("%d %b") %> - <%= @booking.date_to.strftime("%d %b") %></p>
  <div class="booking">
    <% if current_user && current_user == @booking.user %>
      <%= link_to("Edit", edit_booking_path(@booking), class: "btn btn-primary")%>
    <% end %>
    <%= link_to("Back", bookings_path, class: "btn btn-primary")%>
  </div>
</div>
