<div class="col-md-12">
  <p> Name : <%= @booking.user.nickname %></p>
  <p> Email : <%= @booking.user.email %></p>
  <p> Desk : <%= @booking.desk %></p>
  <p> Date : <%= @booking.date_from.strftime("%d %b") %> - <%= @booking.date_to.strftime("%d %b") %></p>
  <div class="booking">
    <%= link_to("Back", bookings_path, class: "btn btn-primary pull-left")%>
  </div>
</div>
